.navbar-container {
  width: 90%;
  max-width: 1225px;
  border-bottom: 1px solid hsl(220, 14%, 75%);
  display: flex;
  flex-direction: row;
  margin: auto;
  padding-bottom: 20px;
  max-height: 1214.09px;
}
.left-side {
  flex: 1;
}
.navbar-logo {
  margin-top: 30px;
  font-family: var(--font-main);
  opacity: 90%;
}
.middle-side {
  flex: 4;
}
.middle-side > ul {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  margin-top: 43px;
}
.middle-side > ul > li {
  list-style: none;
  font-family: var(--font-main);
  color: var(--color-grayishblue);
  cursor: pointer;
}
.middle-side > ul > li:hover {
  opacity: 75%;
  border-bottom: 3px solid hsl(26, 100%, 55%);
}
.middle-side > ul > li:active {
  opacity: 50%;
}
.right-side {
  flex: 1;
}
.navbar-cart {
  margin-bottom: 13px;
  width: 25px;
  cursor: pointer;
}
.navbar-cart:hover {
  opacity: 75%;
}
.navbar-cart:active {
  opacity: 50%;
}
.navbar-profile {
  width: 45px;
  border: 3px solid hsl(26, 100%, 55%);
  border-radius: 50%;
  margin-top: 25px;
  margin-left: 35px;
  cursor: pointer;
}
.navbar-profile:hover {
  opacity: 80%;
}
.navbar-profile:active {
  opacity: 50%;
}
