@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-main: "Kumbh Sans", sans-serif;
  --font-size-main: 16px;
  --color-grayishblue: hsl(219, 9%, 45%);
}
